body {
	background-color:#FFFFFF;
	font-size: 12px;
	height: 100%;
	width: 100%;
}

table {
	height: 100%;
	width: 100%;
}

.print_image {
    /* visibility: hidden; */
}

#planning {
    margin-left : 0px;
}

a:after {content: "" !important;}